@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-loading-status: loading 2s ease-out

  @keyframes loading {
    0% {
      background-
    }
    100% {

    }
    
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#bg-mask > div {
  @apply h-1/3 ;
}

.blend {
  @apply mix-blend-lighten text-black bg-white/80;
}

/* https://blog.rhostem.com/posts/2021-05-12-linear-gradient-text */
.border-gradient {
  @apply bg-gradient-to-r from-pink-500 to-blue-500 duration-500 transition-all ease-linear;

  
}
.border-gradient:hover {
  @apply animate-pulse;

  
}
