@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-loading-status: loading 2s ease-out

  @keyframes loading {
    0% {
      background-
    }
    100% {

    }
    
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




h1 {
  @apply text-[clamp(3rem,1vw+2.5rem,5rem)];
}


h2 {
  @apply text-[clamp(2rem,1vw+1.75rem,3rem)];
}

h3 {
  @apply text-[clamp(1.5rem,1vw+1.25rem,2.25rem)];
}



.button-hover {
  @apply px-4 py-2 rounded-2xl cursor-pointer hover:bg-sky-500 hover:text-white transition-all duration-100 delay-100;
}


b {
  @apply px-2 py-1 rounded-lg m-1 bg-emerald-700 text-white;
}